{% extends "readers/reader-header.html" %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'readers/reader-home.css' %}">


{% block content %}
<script>
    window.pk = '{{ book.pk }}';
</script>
<script src="{% static 'readers/js/confirm_purchase.js' %}"></script>

<div class="books-container">
        <div class="book-item">
            <img src="{{ book.image_url }}" alt="{{ book.book_name }}" width="200" height="300">
            <p>{{ book.book_name }} - {{ book.description }}</p>
            {% csrf_token %}
            {% if purchased %}
                <p>Already purchased</p>
            {% elif borrowed %}
                <p>Borrowed</p>
                <button id="myButton">Buy</button>
            {% else %}
                <button id="myButton">Buy</button>
            {% endif %} 
        </div>
</div>

<div class="book-reviews">
    <h2>Reseñas</h2>
    {% for review in reviews %}
        <div class="review">
            <p><strong>Usuario:</strong> {{ review.user.username }}</p>
            <p><strong>Calificación:</strong> {{ review.rating }}</p>
            <p><strong>Comentario:</strong> {{ review.comment }}</p>
        </div>
    {% empty %}
        <p>No hay reseñas aún.</p>
    {% endfor %}
</div>
{% endblock %}