{% extends "readers/reader-header.html" %}
{% load static %}

{% block content %} 
 <div class="my-reviews">
    <h2>My Reviews</h2>
    {% if page_obj.has_other_pages %}
        <div class="pagination">
            <!-- Controles de paginación -->
            ...
        </div>
    {% endif %}

    {% for review in page_obj %}
    <div class="review">
        <p><strong>Book name:</strong> {{ review.book.book_name }}</p>
        <p><strong>Rating:</strong> {{ review.rating }}</p>
        <p><strong>Comment:</strong> {{ review.comment }}</p>
        <p><strong>Date</strong> {{ review.date }}</p>
        <!-- Botones de acción -->
        <a href="{% url 'edit_review' review.pk %}">Editar</a>
        <a href="{% url 'delete_review' review.pk %}">Borrar</a>
    </div>
{% empty %}
    <p>A review hasn't been written.</p>
{% endfor %}
    {% if page_obj.has_other_pages %}
        <div class="pagination">
            <!-- Controles de paginación -->
            ...
        </div>
    {% endif %}
</div>

{% endblock %}
