{% extends "readers/reader-header.html" %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'readers/reader-home.css' %}">


{% block content %}

<div class="books-container">
    {% for book in Books %}
        <div class="book-item">
            <img src="{{ book.image_url }}" alt="{{ book.book_name }}" width="200" height="300">
            <p><a href="{% url 'book_view'  pk=book.id %}">d</a>{{ book.book_name }} - {{ book.description }}</p>
        </div>
    {% endfor %}
</div>

{% endblock %}