{% extends "readers/reader-header.html" %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'readers/reader-home.css' %}">

{% block content %}

<div class="books-container">
    {% for purchase in Purchases %}
        <div class="book-item">
            <img src="{{ purchase.book.image_url }}" alt="{{ purchase.book.book_name }}" width="200" height="300">
            <p><a href="{% url 'book_view'  pk=purchase.book.id %}">d</a>{{ purchase.book.book_name }} - {{ purchase.book.description }}</p>
        </div>
    {% endfor %}
</div>

{% endblock %}