{% extends "readers/reader-header.html" %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'readers/reader-home.css' %}">

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'readers/reader-books.css' %}">
<script src="{% static 'readers/js/confirm_share.js' %}"></script>

<div class="BookSection">
    {% csrf_token %}
    {% for purchase in Purchases %}
        <div class="item">
            <div class="book">
                <img src="{{ purchase.book.image_url }}" alt="{{ purchase.book.book_name }}" width="200" height="300">
                <div class="info">
                    <a href="{% url 'book_view'  pk=purchase.book.pk %}">{{ purchase.book.book_name }}</a>
                    <p>Description: {{purchase.book.description}}</p>
                    <script>
                        window.pk = '{{ purchase.book.pk }}';
                    </script>
                    <button id="share">Share with someone</button>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}