.BookSection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    list-style-type: none;
}

.item{
    border: 1px solid black;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
}

.book{
    display: flex;
}


.book.img{
    max-width: 5px;
}

.info{
    flex: 1;
    padding: 20px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

h3{
    color: #fff;
    padding: 3px;
    background-color: #a6bddc;
    text-align: center;
}



.btn1{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: #B9D6F3;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    margin-top: 7px;
}

.btn1:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.btn2{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: #A1C9F1;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    margin-top: 15px;

}

.btn2:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.titles{
    text-align: center;
    width: 100%;
    background-color: #F1E8D9;
    padding: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn3{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: #0b9e1c;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    margin: 20px;
}

.logout{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: red;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    margin: 20px;
}

.info p{
    margin: 5px;
}